* {margin: 0;	padding: 0; -webkit-margin-before: 0; -webkit-margin-after: 0; font-family: sans-serif, Calibri, Verdana, Arial}

html {}
body {padding: 48px 64px; color: #FFFFFF; background: #3F3F3F}

header {color: #DFDFDF; cursor: default}
header h1 {color: #DFDFDF}
header h4 {color: #9F9F9F}

#divInputs {width: 100%; padding: 4px; margin-top: 16px; border-radius: 8px; background: #DFDFDF; overflow: auto}

.divInput {width: 244px; margin: 4px; padding: 8px; border-radius: 4px; background: #707070; display: inline-block; cursor: default}

#divBlueprints {float: left; margin-right: 8px}

p {text-align: center}

ul {list-style: none}

a {color: #FFFFFF}
a:visited	{	color: #FFFFFF}

footer {display: inline; text-align: center}
footer a:link {	text-decoration: none}
footer a:visited {color: #DFDFDF}
